
/* Universal Styles */
html {
font-family: 'Open Sans', sans-serif;
}

.jumbotron {
/*    background-color: rgb(245, 185, 193) !important; 
*/    background-color: rgb(251, 221, 112) !important; 

/*    background-color: green !important; 
*/} 

.enews {
	background-color:rgb(251,238,187);
}

.logoname {
	font-family: 'Niconne', cursive !important;
}

.card-img-top {
	transition: opacity 300ms ease-in; 
}

.card-img-top:hover {
	opacity: 80%;
}

.image_title {

}

.image_title:hover {
  color: rgb(251, 221, 112);
}